.container{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.nav-container{
    background-image: url("./img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(60% 20%, 40% 20%, 40% 60%, 20% 60%, 50% 88%, 80% 60%, 60% 60%);
    clip-path: polygon(60% 20%, 40% 20%, 40% 60%, 20% 60%, 50% 88%, 80% 60%, 60% 60%);
}
.top-menu{
    display:flex;
    width: 100%;  
    text-align: center;
}
.top-link{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutme-container-top{
    background-color: rgb(236, 243, 243);
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.window{
    background-image: url("./img/ja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
    height: 25vh;
    width:25vh;
    top:-20vh;
    background-color: red;
    perspective: 700px;
    box-sizing: border-box;
}

.opened{
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s ease-in;

}
.closed{
    background-image: url("./img/window.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;   
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: gray;
}
.window:hover .opened{
    transform: rotateY(-180deg);
}
.aboutme{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;   
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    top:28vh;
    li{
        margin-top:10px;
    }    
}
.aboutme-container-down{
    background-color: rgb(208, 231, 231);
     height: 50vh;
     width: 100%;     
}
.container > ul{
    box-sizing: border-box;
    margin-top:20px;
    width: 80%;
    perspective: 500px;
}
.container > ul > li{
    position: relative;
    margin:5px;
    text-align: center;   
    height: 30px;
    border: solid gray 2px;   
    
}
.container > ul > li:before{
    content: 'before';
    font-size: 25px;
    background-color: yellow;
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px; 
    text-align: center;
    transform-style: preserve-3d;    
    transform: rotateY(180deg);
    transition: 2s transform;    
    backface-visibility: hidden;
}
.animated{
    background-color: white;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: 2s transform;
   
}
.not-animated{   
    background-color: white;
}
.projects-container{
    height: 100vw;
    width: 100%;
    background-color:rgb(245, 243, 243);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    div{        
        width: 45vw;
        height: 45vw;       
        box-sizing: border-box;
        text-align: center;
        margin: 2vw;
        filter:drop-shadow(2px 2px 5px black);
        border-radius: 5px;       
    }    
    .spa{
        background-image: url("./img/spa-avatar.png");
        background-size: cover;
        display: flex;
    } 
    .dfn{
        background-image: url("./img/dfn-avatar.png");
        background-size: cover;
        display: flex;
    }
    .sowhatever{
        background-image: url("./img/spa-avatar.png");
        background-size: cover;
        display: flex;
    }
    .lee{
        background-image: url("./img/dfn-avatar.png");
        background-size: cover;
        display: flex;
    }
    .overlay{
        max-width:100%;
        max-height:100%;
        opacity: 0;
        border-radius: 5px;
        background-color: white;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0px;
    }
    .overlay:hover{
        opacity: 0.75;
    }
}
.contact-container{
    color: rgb(227, 241, 243);
    height: 50vh;
    width: 100%;    
    background-color: rgb(44, 38, 38);
    display: flex;
    justify-content: center;
    align-content: center;
    ul{
        margin-top: 5vh;
    }
    li{
        padding: 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: rgb(227, 241, 243);
        }
        a:hover{
            color: rgb(33, 205, 211);
        }
    }
    .cv::before{
        content: "";
        background-image: url("./img/cv.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        display: inline-block;        
        filter: brightness(0) invert(1);
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .mail::before{
        content: "";
        background-image: url("./img/mail.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        display: inline-block;        
        filter: brightness(0) invert(1);
        width: 30px;
        height: 30px;
        margin-right: 10px;

    }
    .phone::before{
        content: "";
        background-image: url("./img/phone.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        display: inline-block;        
        filter: brightness(0) invert(1);
        width: 30px;
        height: 30px;
        margin-right: 10px;

    }
    .git::before{
        content: "";
        background-image: url("./img/git.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        display: inline-block;        
        filter: brightness(0) invert(1);
        width: 30px;
        height: 30px;
        margin-right: 10px;

    }
}
@media only screen and (max-width: 350px) {
    .top-link{
        font-size: 17px;
    }
    .aboutme-container-top{        
        height: 75vh;        
    }
}
@media only screen and (max-width: 500px) {
    .projects-container{
        height: 400vw;
        div{        
            width: 85vw;
            height: 85vw; 
            margin-bottom: 5vh;      
              
        }
    }    
    
}
@media only screen and (min-width: 1201px) {
    body{
        width: 70%;
        margin: auto;
        box-shadow: 0 0 10px hsl(0, 0%, 60%);
    
    }
    .projects-container{
        height: 120vh;      
        div{        
            width: 25vw;
            height: 25vw;       
            box-sizing: border-box;
            text-align: center;
            margin: 2vw;
            filter:drop-shadow(2px 2px 5px black);
            border-radius: 5px;       
        }    
        .spa{
            background-image: url("./img/spa-avatar.png");
            background-size: cover;
            display: flex;
        } 
        .dfn{
            background-image: url("./img/dfn-avatar.png");
            background-size: cover;
            display: flex;
        }
        .sowhatever{
            background-image: url("./img/spa-avatar.png");
            background-size: cover;
            display: flex;
        }
        .lee{
            background-image: url("./img/dfn-avatar.png");
            background-size: cover;
            display: flex;
        }
        .overlay{
            max-width:100%;
            max-height:100%;
            opacity: 0;
            border-radius: 5px;
            background-color: white;
            display:flex;
            justify-content: center;
            align-items: center;
            margin:0px;
        }
        .overlay:hover{
            opacity: 0.75;
        }
    }
}

